<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      sec:authorize="hasAuthority('ADMIN')">

<div th:insert="parts/_header :: header"></div>
<div th:insert="parts/_menu :: menu"></div>
<body>
<div style="margin-left:20px" class="ui mini breadcrumb">
    <a class="section" href="/">Главная</a>
    <i class="right angle icon divider"></i>
    <a class="section" href="/adminPage">Администрирование</a>
    <i class="right angle icon divider"></i>
    <div class="active section">Список приводов</div>
</div>

<div class="ui segment">
    <form action="/driveCreate">
        <button class="ui basic button">
            <i class="plus icon"></i>
            Добавить привод
        </button>
    </form>
    <table class="ui striped table">
        <thead>
        <tr>
            <th>id</th>
            <th>Привод</th>
        </tr>
        </thead>
        <tbody th:each="drive: ${drives}">
        <tr>
            <td th:text="${drive.id}"></td>
            <td th:text="${drive.name}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:insert="parts/_footer :: footer"></div>
</body>
</html>