<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      sec:authorize="hasAuthority('ADMIN')">

<div th:insert="parts/_header :: header"></div>
<div th:insert="parts/_menu :: menu"></div>

<body>

<div style="margin-left:20px" class="ui mini breadcrumb">
    <a class="section" href="/">Главная</a>
    <i class="right angle icon divider"></i>
    <a class="section" href="/adminPage">Администрирование</a>
    <i class="right angle icon divider"></i>
    <a class="section" href="/engineList">Список двигателей</a>
    <i class="right angle icon divider"></i>
    <div class="active section">Редактировать двигатель</div>
</div>

<div class="ui raised very padded text container segment">
    <form class="ui form" action="#" th:action="@{/engineUpdate}" th:object="${engine}"
          method="post" enctype="multipart/form-data">
        <div class="field">
            <input readonly type="hidden" th:field="*{id}" id="id" placeholder="ID">
        </div>
        <div class="field">
            <label>Название</label>
            <input type="text" name="name" placeholder="Имя" th:field="*{name}">
        </div>
        <div class="field">
            <label>Производитель</label>
            <select class="ui search dropdown" id="manufacturer" th:field="*{manufacturer}">
                <option value="0"></option>
                <option th:each="manufacturer : ${manufacturers}"
                        th:value="${manufacturer.id}"
                        th:text="${manufacturer.getName()}">
                </option>
            </select>
        </div>
        <div class="field">
            <label>Объем</label>
            <input type="text" name="volume" placeholder="Объем" th:field="*{volume}">
        </div>
        <div class="field">
            <label>Тип двигателя</label>
            <select class="ui search dropdown" id="engineType" th:field="*{engineType}">
                <option value="0"></option>
                <option th:each="engineType : ${engineTypes}"
                        th:value="${engineType.id}"
                        th:text="${engineType.getName()}">
                </option>
            </select>
        </div>
        <div class="field">
            <label>Мощность</label>
            <input type="text" name="power" placeholder="Мощность" th:field="*{power}">
        </div>
        <div class="field">
            <label>Крутящий момент</label>
            <input type="text" name="torque" placeholder="Крутящий момент" th:field="*{torque}">
        </div>
        <div class="field">
            <label>Топливо</label>
            <select class="ui search dropdown" id="fuel" th:field="*{fuel}">
                <option value="0"></option>
                <option th:each="fuel : ${fuels}"
                        th:value="${fuel.id}"
                        th:text="${fuel.getName()}">
                </option>
            </select>
        </div>
        <div class="field">
            <label>Фото</label>
            <input type="file" name="file">
        </div>
        <button class="ui button" type="submit">Сохранить</button>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>
</div>
<script>
    $('.ui.dropdown').dropdown();
</script>
<div th:insert="parts/_footer :: footer"></div>
</body>
</html>